@use '../variables' as *;
@use '../mixins' as *;

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: $pages-color;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2rem;

  &.page-left {
    box-shadow: -0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
  }

  &.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    @include page-transition;

    &.turn {
      transform: rotateY(-180deg);
    }
  }
}

.page-front,
.page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $pages-color;
  padding: 1.5rem 2rem;
}

.page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  font-size: 2rem;
  color: $text-color;
}

.number-page {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: $second-text-color;
}

.nextprev-btn {
  position: absolute;
  bottom: 0.9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: $second-text-color;
  @include flex-center;
  transition: $medium-animation;

  &:hover {
    color: $main-color;
  }

  &.back {
    left: 1.5rem;
  }
}