@use '../variables' as *;
@use '../mixins' as *;


// Profile page styles
.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 180px;
    border-radius: 50%;
    border: 0.25rem solid $main-color;
    margin-bottom: 0.8rem;
  }

  h1 {
    font-size: 2.7rem;
    line-height: 1;
  }

  h3 {
    color: $main-color;
    font-size: 1.5rem;
  }

  .social-media {
    margin: 0.6rem 0.8rem;
    display: flex;

    a {
      @include social-icon;
    }
  }

  p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 24px;
    letter-spacing: -0.5px;
  }

  .btn-box {
    margin-top: 1.2rem;

    .btn:nth-child(2) {
      background: transparent;
      color: $main-color;

      &:hover {
        background: $main-color;
        color: $white-color;
      }
    }
  }
}
