@use '../variables' as *;
@use '../mixins' as *;


// Skills styles
.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;

  .skills-content {
    flex: 1 1 20rem;

    h3 {
      font-size: 1.3rem;
      line-height: 1;
      margin-bottom: 0.6rem;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;

      span {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 5rem;
        border: $border;
        border-radius: 0.3rem;
        font-weight: 600;
        transition: $fast-animation ease;

        &:hover {
          box-shadow: $box-shadow;
        }

        i {
          color: $main-color;
          font-size: 3rem;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}