@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  @include flex-center;
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  overflow: hidden;
  font-family: $font-family;
}

// Animation keyframes
@keyframes show-animate {
  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

// Global utility classes
.flex-center {
  @include flex-center;
}

.btn {
  @include button-style;
}

.btn-secondary {
  @include button-style($bg-color: transparent, $text-color: $main-color);

  &:hover {
    background: $main-color;
    color: $white-color;
  }
}